# Keil build outputs
Objects/
Listings/
*.o
*.d
*.crf
*.axf
*.lnp
*.dep
*.map
*.lst
*.htm

# Debug / RTE generated configs
DebugConfig/
RTE/Device/

# User IDE settings
project.uvoptx
project.uvguix.*

# VS Code logs
.vscode/keil-assistant.log
.vscode/uv4.log
.vscode/uv4.log.lock
